* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Moderustic", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

/* Full-width container with gradient background */

.container-fluid {
    background-image: linear-gradient(32deg, #141d4f, #294e78, #3784a2, #40becf);
    min-height: 100vh;
    padding: 10px;
}

/* Centered container with white background and rounded corners */

.custom-container {
    max-width: 540px;
    background-color: #fff;
    margin: 100px auto 20px;
    padding: 40px 20px 40px;
    border-radius: 10px;
}

.form {
    margin-bottom: 1rem;
}


/* Custom button styles */

.btn-custom {
    background-color: #39a5b6;
    color: white;
    border: none;
}

.btn-custom:hover {
    background-color: #2e8694;
    color: white;
    border: none;
}




.list-group-item {
    padding: 1rem;
    border: none;
}



/* List group item styles */

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


/* Style for completed tasks */

.realized {
    text-decoration: line-through;
}


/* Icon styling within list items */

.list-group-item i {
    flex-shrink: 0;
    cursor: pointer;

}

/* Ensure text content is responsive */

.text-content {
    flex: 1;
    margin: 0 8px;
    overflow: hidden;
    text-overflow: ellipsis;
}